/.vs
/*.user
/micropolis-sdl2
/images/*.bmp
/res/*.ttf
!/res/Raleway-Medium.ttf
!/res/Raleway-Bold.ttf
!/res/Raleway-BoldItalic.ttf
!/res/virtue.ttf
/icons/24
/icons/32
/icons/64
*.psd
.DS_Store
/xcode/Micropolis-SDL2PP.xcodeproj/project.xcworkspace/xcuserdata
/xcode/Micropolis-SDL2PP.xcodeproj/xcuserdata
/xcode/.DS_Store
/icons/src
/x64
/*.dll
/*.exe
/*.ini
/*.aps
/vcpkg_installed
/micropolis-sdlpp
/png
/doc

# Civic 89 build output and local CMake settings
/out/
/CMakeUserPresets.json
